* { margin: 0px; padding: 0px; font-size: 16px; }
nav { background-color: black; padding-left: 60px; padding-right: 60px; padding-top: 20px; padding-bottom: 20px; }
nav a { color: white; text-decoration: none; display: inline-block; margin-right: 20px; }
nav a.logo-link { font-size: 24px; }

h2 { font-size: 32px; margin-left: 60px; margin-right: 60px; margin-bottom: 40px; margin-top: 40px; }
h3 { font-size: 26px; margin-left: 60px; margin-right: 60px; margin-bottom: 30px;}

table { margin-left: 60px; margin-right: 60px; }
table tr td { padding-top: 8px; padding-right: 8px; margin-top: 8px; }

.message { color: green; }
.error-message { color: red; }

form { margin-left: 60px; margin-right: 60px; }
form .form-field { margin-bottom: 20px; }
form .form-field input { width: 200px; display: inline-block; }
form .form-field label { width: 120px; display: inline-block; }
form .form-field .radio-field { display: inline-block; }
form .form-field .radio-field input { width: 20px; }

.signout-form { display: inline-block; }

.pending-request { margin-left: 60px; margin-right: 60px; margin-bottom: 40px; }
.pending-request form { display: inline-block; margin-left: 20px; margin-right: 20px; }
.remove-friend-form { display: inline-block; margin-left: 20px; margin-right: 20px; }
.remove-friend-button {margin-left: 60px; margin-right: 60px; margin-bottom: 40px; }

.profile-table { margin-bottom: 60px; }