<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Social Network</title>
  <meta name="description" content="Social Network">
  <meta name="author" content="">

  <link rel="stylesheet" type="text/css" href="/css/styles.css?v=1.0">

</head>

<body>
  <nav>
    <a class="logo-link" href="/">Social Network</a>
    <% if @current_user %>
      <a href="/users/<%= @current_user['id'] %>"><%= @current_user['first_name'] %></a>
      <form class="signout-form" action="/sign_out" method="POST"><input type="submit" value="Sign Out" /></form>
    <% else %>
      <a href="/register">Register</a>
      <a href="/sign_in">Sign In</a>
    <% end %>
  </nav>

  <%= yield %>
  <%# <script src="js/scripts.js"></script> %>
</body>
</html>