<h2>Register</h2>

<% if @errors %>
    <% @errors.each do |error| %>
        <div class="error-message">
            <%= error[:message] %>
        </div>
    <% end %>
<% end %>

<form class="register-form" method="POST" action="/register">
  <div class="form-field">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="eg: test@example.com" required />
  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
  </div>

   <div class="form-field">
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password" name="password_confirmation" id="password_confirmation" required />
  </div>

  <div class="form-field">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" placeholder="eg: John" required />
  </div>

  <div class="form-field">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" placeholder="eg: Smith" required />
  </div>

  <div class="form-field">
    <label for="age">Age</label>
    <input type="number" name="age" id="age" min="1" max="200" required />
  </div>

  <div class="form-field">
    <label for="gender">Gender</label>
    <div class="radio-field">
        <input type="radio" id="gender-male" name="gender" value="1" checked>
        <label for="gender-male">Male</label>
    </div>
    <div class="radio-field">
        <input type="radio" id="gender-female" name="gender" value="2" checked>
        <label for="gender-female">Female</label>
    </div>
  </div>

  <div class="form-field">
    <label for="interests">Fields of interest (comma separated)</label>
    <input type="text" name="interests" id="interests" placeholder="eg: hiking, running" required />
  </div>

  <div class="form-field">
    <label for="city">City</label>
    <input type="text" name="city" id="city" placeholder="eg: Moscow" required />
  </div>

  <div class="form-field">
    <input type="submit" value="Register" />
  </div>
</form>