<h2>Search</h2>

<% if @users && @users.size > 0 %>
    <h3>Results:</h3>
<% else %>
    <h3>No users found</h3>
<% end %>

<table class="users-table">
    <tbody>
        <% @users.each_with_index do |user, index| %>
            <tr>
                <td><b><%= index + 1 %></b></td>
                <td><%= user['first_name'] + ' ' + user['last_name'] %></td>
                <td><a href="/users/<%= user['id'] %>">View</a></td>
            </tr>
        <% end %>
    </tbody>
</table>