<h2>Sign In</h2>

<% if @error %>
    <div class="error-message">
        <%= @error %>
    </div>
<% end %>

<form class="login-form" method="POST" action="/sign_in">
  <div class="form-field">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>

  <div class="form-field">
    <input type="submit" value="Sign In" />
  </div>
</form>