<h2><%= @user['first_name']%> <%= @user['last_name']%>'s Profile</h2>

<% if @current_user && @current_user['id'] != @user['id'] && !@is_friend %>
  <form class="friend-request-form" action="/friend_request?user_id=<%= @user['id'] %>" method="POST"><input type="submit" value="Add to friends" /></form>
<% end %>

<% if @is_friend %>
<form class="remove-friend-form remove-friend-button" action="/friendships/<%= @user['id'] %>/delete" method="POST"><input type="submit" value="Remove from friends" /></form>
<% end %>

<% if @pending_requests && @pending_requests.size > 0 %>
  <% @pending_requests.each do |item| %>
    <div class="pending-request">
      Pending request from <%= item['first_name'] %> <%= item['last_name'] %>
      <form class="friend-request-form" action="/friend_requests/<%= item['id'] %>/accept" method="POST"><input type="submit" value="Accept" /></form>
      <form class="friend-request-form" action="/friend_requests/<%= item['id'] %>/reject" method="POST"><input type="submit" value="Reject" /></form>
    </div>
  <% end %>
<% end %>

<table class="profile-table">
  <tbody>
    <tr>
      <td><b>Email</b><td>
      <td><%= @user['email'] %></td>
    </tr>
    <tr>
      <td><b>Age</b><td>
      <td><%= @user['age'] %></td>
    </tr>
    <tr>
      <td><b>Gender</b><td>
      <td><%= gender(@user['gender']) %></td>
    </tr>
    <tr>
      <td><b>City</b><td>
      <td><%= @user['city'] %></td>
    </tr>
    <tr>
      <td><b>Fields of interest</b><td>
      <td><%= @interests.map{ |x| x['interest'] }.join(', ') %></td>
    </tr>
  </tbody>
</table>

<% if @friends && @friends.size > 0 %>
  <% if @current_user && @current_user['id'] == @user['id']%>
    <h3>Your friends</h3>
  <% else %>
    <h3><%= @user['first_name']%> <%= @user['last_name']%>'s friends</h3>
  <% end %>

  <table class="users-table">
      <tbody>
          <% @friends.each_with_index do |user, index| %>
              <tr>
                  <td><%= user['first_name'] + ' ' + user['last_name'] %></td>
                  <td>
  <% if @current_user && @current_user['id'] == @user['id']%>
  <form class="remove-friend-form" action="/friendships/<%= user['id'] %>/delete" method="POST"><input type="submit" value="Remove from friends" /></form>
  <% end %>
                  </td>
              </tr>
          <% end %>
      </tbody>
  </table>
<% else %>
  <h3>No Friends :(</h3>
<% end %>
